# -----------------------------
# Visual Studio / VS Code
# -----------------------------
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# VS / VSCode
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Logs & history
[Ll]og/
[Ll]ogs/
*.log
.history/
.vshistory/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Oo]ut/

# Test results
[Tt]est[Rr]esult*/
*.trx
*.VisualState.xml
TestResult.xml

# Other IDE / tools
_ReSharper*/
*.DotSettings.user
.idea/
*.iml

# -----------------------------
# .NET / C# spécifiques
# -----------------------------
*.dll
*.exe
*.pdb
*.mdb
*.cache
*.dbmdl
*.bak
*.mdf
*.ldf

# -----------------------------
# Node.js
# -----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------
# PHP
# -----------------------------
vendor/
composer.lock

# -----------------------------
# Docker
# -----------------------------
# Conteneurs & volumes
data/
volumes/

# Images temporaires
*.tar
*.pid
*.seed
*.bak

# -----------------------------
# Environnements (⚠️ garder .env.example versionné)
# -----------------------------
.env
*.env
infra/.env

# -----------------------------
# Système / OS
# -----------------------------
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
