
# 🔧 ENVIRONNEMENT VITE & GOURMAND (.env.example)
# Copiez ce fichier sous le nom `.env` pour démarrer l'application


APP_NAME=vitegourmand
APP_ENV=local
TZ=Europe/Paris

#🗄️ BASE DE DONNÉES RELATIONNELLE (MySQL)

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=vite_et_gourmand
MYSQL_USER=root
MYSQL_PASSWORD=changeme

#📊 BASE DE DONNÉES NoSQL (MongoDB)

MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=mongouser
MONGO_INITDB_ROOT_PASSWORD=changeme
MONGO_DATABASE=vg
MONGO_URI=mongodb://mongouser:changeme@mongo:27017

#🧮 INTERFACES WEB

APP_PORT=8080
PMA_PORT=8090
MONGO_EXPRESS_PORT=8081

#💌 SERVEUR SMTP DE TEST (Mailhog)

MAILHOG_HOST=mailhog
MAILHOG_UI_PORT=8025
MAILHOG_SMTP_PORT=1025

# CONFIGURATION MAIL (PHPMailer)

# DEV (MailHog)
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_ENCRYPTION=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=contact@viteetgourmand.com
MAIL_FROM_NAME="Vite & Gourmand (DEV)"

# PROD (exemple Hostinger SMTP)
# MAIL_HOST=smtp.hostinger.com
# MAIL_PORT=587
# MAIL_ENCRYPTION=tls
# MAIL_USERNAME=contact@viteetgourmand.com
# MAIL_PASSWORD=changeme
# MAIL_FROM_NAME="Vite & Gourmand"


